.container-doctor-card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    direction: rtl;
    border-radius: 5px;
    margin: 10px auto;

}
.first-item-show-card{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 10px auto;
    padding: 15px 0;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    position: relative;
    direction: rtl;

}
.avatar-card{
    height: 150px;
    width: 150px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border-image:linear-gradient(aqua,mediumpurple,rebeccapurple) 30 round;*/
    border: 1px mediumpurple solid;
    border-radius: 50%;

    margin-right: 10px;
}
.avatar-card img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    margin: auto;
}
.midel-info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.end-info-card{

    display: flex;
    flex-direction: column-reverse;
    margin-left: 10px;
}
.rotate-up{
    animation: rotate-up 1s forwards;
}
@keyframes rotate-up {
    0%{

    }
    50%{
        opacity: 0;
    }
    100%{
        color: orangered;
        transform: rotate(180deg);
        opacity: 0;

    }
}
.rotate-down{
    animation: rotate-down 1s forwards;
}
@keyframes rotate-down {
    0%{
        color: orangered;
        opacity: 0;

        transform: rotate(180deg);
    }
    100%{
        color: blue;

        transform: rotate(360deg);
    }
}
.open-more:after{
    content: "بیشتر";
    animation: open-more-show 1s forwards;
  }
@keyframes open-more-show {
    0%{
        opacity: 0;
    }
    100%{
opacity: 1
    }
}
.close-more:after{
    content: "بستن";
    color: orangered;
    animation: open-more-show 1s forwards;
}
@keyframes open-more-show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1
    }
}
.end-info-card .more{
    color: blue;
    cursor: pointer;
    position: absolute;
    left: 10px;
    bottom: 0;

}
.contaner-more-info{
    margin: 20px;
    direction: rtl;
    display: flex;
}
