.login-modal{
    margin: 0 auto;
    width: 80%;
    height:100%;
    background-color: rgba(126, 136, 125, 0.8);
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 2px 5px 10px grey;
}
.bg{
position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    filter: blur(4px);
}
.bgp{
        background-image: url("../../assets/image/baner.jpg");

}
.bgd{
    background-image: url("../../assets/image/doctorForm.jpg");

}

/*.doctor-login{*/
/*    background-image: url("../../assets/image/doctorForm.jpg");*/
/*}*/
/*.patient-login{*/
/*    background-image: url("../../assets/image/baner.jpg");*/
/*}*/
.hide{
    animation: fadeModal 1s forwards;
}
@keyframes fadeModal{
    0%{
        top:0;
        opacity: 1;
        margin: 0 auto; /* Will not center vertically and won't work in IE6/7. */
        left: 0;
        right: 0;
    }
    100%{
        top: -1000px;
        opacity: 0;
        display: none;
    }
}
.show{
    animation: showModal 1s forwards;
}
@keyframes showModal {
    0%{
        top: -1000px;
        opacity: 0;
    }
    100%{
    top:0;
    opacity: 1;
        margin: 0 auto; /* Will not center vertically and won't work in IE6/7. */
        left: 0;
        right: 0;
    }
}

/*element of form*/
.container-form{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.exit-btn-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid #ff2a00;
    box-shadow: 1px 1px 2px red;
    border-radius: 50%;
    text-align: center!important;
    background-color: white;
    color: red;
    position: absolute;
    top: 10px;
    left: 10px;
    margin-bottom: 20px;
}


.container-form-item{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: 10% auto;
}

.items-form{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
    position: relative;
    padding: 10px 0;
 }
/*.items-form label{*/
/*    color: black;*/
/*    font-size: 1.5em;*/
/*}*/
/*.items-form input{*/
/*    outline: none;*/
/*    margin: 30px 0;*/
/*    min-width: 300px;*/
/*    border-bottom: 1px solid;*/


/*}*/


/*test*/
/*todo:check it after sprint*/
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    /*border-bottom: 2px solid #9b9b9b;*/
    border-bottom: 2px solid black;
    outline: 0;
    font-size: 1.3rem;
    /*color: #fff;*/
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    /*color: #9b9b9b;*/
    color: black;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}
.login-btn{
    margin: 15px;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #29f524, #71f573, #29f524);
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    z-index: 3;
}
.login-btn:hover{
    animation: 1s btn-scale forwards;
    outline: none;
}
@keyframes btn-scale {
    0%{}
    50%{
        transform: scaleX(2);
    }
    100%{
        transform: scaleX(1);
        border-radius: 10px;
    }

}
.container-form-item input{
    background-color: rgba(0,0,0,.0)!important;
}

