.container-doctor-search{
    display: flex;
    flex-direction: column;
}
.searchbar-container{
     position: relative;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     width: 70%;
     margin: 0 auto;
    margin-bottom: 30px;
 }
.searchbar-container i {
    cursor: pointer;
}
.searchbar-container input {
    cursor: text;
    width: 70%;
    outline: none;
    border-width:0;
    border-bottom: 1px solid black;
    text-align: center;
    direction: rtl;
}

.container-list-doctor{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container-list-doctor-card{
    display: flex;
    flex-direction: column;
}